header{
    background-color: #000000;
    padding: 20px 0;

}

.caixa {
    position: relative;
	width: 940px ;
	margin: 0 auto;
    padding: 0 20px;
}

#logo {
    width: 100px;
  }

nav { 
	position: absolute;
	top: 110px;
	right: 0;
} 
h1{
    font-family:  "Playfair Display", serif;
    font-size: 25px;
}